body {
  font-family: "Spectral", sans-serif;
}

header {
  background-color: #ffc017;
}

/* INIZIA LA NAVBAR */

#navbar-container {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-top: 25px;
  position: sticky;
  top: 0px;
  background-color: #ffc017;
  z-index: 10;
}

#logo {
  margin-right: 39%;
  width: 201px;
  height: 65px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  margin-right: 30px;
}

.a-navbar {
  text-decoration: none;
  color: black;
}

#different-a-navbar {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: normal;
}

hr {
  margin: 0;
}

/* FINISCE LA NAVBAR */

/* INIZIA IL DIV second-header */

#second-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 380px;
  border-bottom: 1px solid black;
}

#staycurious-container {
  padding-left: 145px;
}

#staycurious-container > h1 {
  font-size: 6em;
  margin-bottom: 30px;
}

#staycurious-container > h4 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

#staycurious-container > a {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px 60px;
  border-radius: 50px;
}

svg {
  width: 90%;
}

/* INIZIO IL MAIN */

/* main {
  padding: 0px 145px;
} */

/* PICCOLA SCRITTA PRIMA DEL CONTENITORE DELLE CARD */

#trending-on-medium {
  padding-left: 170px;
  padding-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* CONTENITORE DELLE CARD */

#six-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 145px;
}

/* SINGOLA CARD */

.card {
  display: flex;
  margin-bottom: 40px;
}

.number {
  font-size: 2.5em;
  font-weight: bold;
  margin-right: 25px;
  color: rgba(169, 169, 169, 0.382);
}

.img-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.img-name img {
  border-radius: 50px;
  margin-right: 10px;
}

.name {
  font-size: 1em;
}

.card-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.date {
  font-size: 1em;
  color: #cacaca;
}

main hr {
  border: 1px solid #cacaca43;
}

/* QUI INIZIA LA MAIN PART CON LE DUE COLONNE TRA CUI QUELLA CON GLI ARTICOLI */

#main-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 145px;
}

/* COLONNA DI SINISTRA */

#left-column {
  display: flex;
  flex-direction: column;

  padding-top: 50px;
  width: 850px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.article-img-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.article-img-name img {
  border-radius: 50px;
  margin-right: 10px;
}

.article-h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.article-p {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.474);
}

span {
  color: rgba(0, 0, 0, 0.407);
}

.article-footer {
  display: flex;
  align-items: center;
}

.article-date {
  color: #cacaca;
  margin-right: 10px;
}

.article-a {
  text-decoration: none;
  background-color: #cacaca30;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.37);
}

.right-img img {
  width: 260px;
  /* padding-left: 70px; */
}

/* COLONNA DI DESTRA */

#right-column {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 450px;
}

#right-column-h2 {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 20px;
}

#second-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 40px;
  margin-bottom: 25px;
}

#second-part a {
  color: rgba(128, 128, 128, 0.714);
  padding: 13px 20px;
  border: 1px solid lightgray;
  margin-right: 3px;
  margin-bottom: 3px;
  text-decoration: none;
}

#third-part {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

#third-part-first-div {
  display: flex;
  justify-content: space-between;
}

#third-part-first-div a {
  color: rgba(128, 128, 128, 0.714);
  padding: 10px 15px;
  text-decoration: none;
  padding-top: 25px;
}

#third-part-second-div {
  display: flex;
  justify-content: space-between;
}

#third-part-second-div a {
  color: rgba(128, 128, 128, 0.714);
  padding: 10px 15px;
  text-decoration: none;
}
